---
import { Image } from "astro:assets";
import Button from "./Button.astro";
import Karussel from "./Karussel.astro"; // Importér din Karussel.astro-komponent her
import bryllupskage from "../assets/images/frontpage/bryllypskage.webp";
import hero from "../assets/images/frontpage/hero_1.webp";
import kransekage from "../assets/images/frontpage/kransekage.webp";
import specielkage from "../assets/images/frontpage/specielkage.webp";
import voreshistorie from "../assets/images/frontpage/vores historie.webp";
import the from "../assets/illustrationer/the.svg";
import kage from "../assets/illustrationer/Kage1.svg";
import kage2 from "../assets/illustrationer/kage2.svg";
import "../styles/global.css";
---

<section id="intro-animation" class="intro-animation">
  <div class="text-container">
    <h1 class="handwritten-text">Conditori La Glace</h1>
  </div>
</section>

<section class="relative text-center mb-mxl md:mb-mxxl bg-fixed">
  <Image src={hero} alt="Baggrundsbillede til forside" class="h-96 md:h-full" />

  <div
    class="absolute md:top-1/2 md:left-1/2 md:transform md:-translate-x-1/2 md:-translate-y-1/2 md:mb-mxxl top-5"
  >
    <h1
      class="text-mserifh1 md:text-serifh1 text-gron500 mb-m md:mb-2 underline decoration-solid decoration-2 underline-offset-off md:underline-offset-big decoration-gul500 font-serif"
    >
      Velkommen til Conditori La Glace
    </h1>
    <p
      class="text-mnormalh4 md:text-normalh4 text-neu500 font-normal mx-mxxl md:mx-0 mb-mxl md:mb-none"
    >
      Det vil glæde os, at byde Dem velkommen i de smukke gamle lokaler, hvor De
      kan opleve ægte kagekunst
    </p>
    <a href="/liste/"><Button variant="primary">Se kager</Button></a>
  </div>
</section>

<section class="relative text-center my-mxl md:my-xxl">
  <h2
    class="text-mserifh2 md:text-serifh2 text-gron500 mb-m md:mb-2 underline decoration-solid decoration-2 underline-offset-off md:underline-offset-big decoration-gul500 font-serif headline1"
  >
    Stort udvalg af kager
  </h2>
  <p
    class="text-pbody text-neu500 font-normal mx-mxxl md:mx-0 mb-mxl md:mb-none mt-none md:mt-m"
  >
    Vi tilbyder kager til hver en smag og alle anledninger. <br />Du er
    velkomment til, at scrolle igennem et udpluk her under, eller klikke videre
    for at se alle kategorier.
  </p>
  <a href="/kager/"><Button variant="primary">Se vores sortiment her</Button></a
  >

  <Karussel />
</section>

<section
  class="relative bg-beige text-center py-ml md:py-xl md:grid md:grid-cols-6 md:grid-rows-2 anledning"
>
  <div
    class="md:col-start-1 md:col-span-3 md:row-start-1 md:pl-xxl pl-0 md:text-left"
  >
    <h2
      class="text-mserifh2 md:text-serifh2 text-gron500 mb-m md:mb-2 underline decoration-solid decoration-2 underline-offset-off md:underline-offset-big decoration-gul500 font-serif headline2"
    >
      En særlig anledning?
    </h2>
    <p
      class="text-pbody text-neu500 font-normal mx-mxxl md:mx-0 mb-mxl md:mb-none mt-none md:mt-m"
    >
      Kontakt os for at få mere information om vores speciel-lavede kager, eller
      kig i vores sortiment for inspiration.
    </p>
    <a href="/liste/"><Button variant="secondary">Få inspiration</Button></a>
  </div>
  <div class="md:col-start-4 md:col-span-3 md:row-start-1 flex justify-center items-center">
    <Image
      src={kage2}
      alt="Illustration af et stykke kage med kirsebær på toppen"
      class="w-full h-40 md:h-80 pt-m kage2"
    />
  </div>

  <div
    class="mx-mxl mt-mxl md:-mt-14 md:col-span-6 md:row-start-2 md:grid md:grid-cols-3 md:gap-xl md:mx-xxl md:pt-xl"
  >
    <Image
      src={bryllupskage}
      alt="Bryllupskage med lyserøde roser"
      class="md:w-full h-full my-mxl md:my-0 bryllupskage"
    />
    <Image
      src={specielkage}
      alt="Specialkage med navn og illustration af en stork"
      class="md:w-full h-full my-mxl md:my-0 specielkage"
    />
    <Image
      src={kransekage}
      alt="Kransekage med flag og petit four omkring"
      class="md:w-full h-full my-mxl md:my-0 kransekage"
    />
  </div>
</section>

<section
  class="relative text-center py-ml md:py-xl md:grid md:grid-cols-2 md:grid-rows-2"
>
  <div class="gap-m mx-mxl md:mx-xxl md:col-start-1 md:row-span-2">
    <Image
      src={voreshistorie}
      alt="De nyeste La Glace generationer"
      class="md:w-full h-full col-start-1 col-span-3 row-start-1"
    />
  </div>
  <div class="md:col-start-2 md:row-span-1 text-center md:text-left">
    <h2
      class="text-mserifh2 md:text-serifh2 text-gron500 mb-m md:mb-2 underline decoration-solid decoration-2 underline-offset-off md:underline-offset-big decoration-gul500 font-serif headline3"
    >
      Vores historie
    </h2>
    <p
      class="text-pbody text-neu500 font-normal mx-mxxl md:mx-0 mb-mxl md:mb-none mt-mxl md:mt-none"
    >
      Læs meget mere om historien bag La Glace og kagerne her.
    </p>
    <a href="/om/"><Button variant="secondary">Læs om La Glace</Button></a>
  </div>
  <div class="md:col-start-2 md:row-start-2">
    <div class="grid grid-cols-2 illustrationer">
      <Image
        src={kage}
        alt="Illustration af et tærtestykke"
        class="col-start-1 h-20 mt-28 ml-10 md:w-full md:h-40 md:mt-40 md:ml-20 animate-slide-top kage"
      />
      <Image
        src={the}
        alt="Illustration af en gammel kande"
        class="col-start-2 md:w-full md:h-80 md:pt-0 md:pr-0 h-25 pt-14 pr-20 kaffe"
      />
    </div>
  </div>
</section>

<script>
  import { inView } from "motion";

  const elementmedanimation1 = document.querySelector(".kage");

  inView(elementmedanimation1, () => {
    elementmedanimation1.classList.add(
      "animate__animated",
      "animate__fadeInUp",
      "animate__delay-0.5s"
    );
  });

  const elementmedanimation2 = document.querySelector(".kaffe");

  inView(elementmedanimation2, () => {
    elementmedanimation2.classList.add(
      "animate__animated",
      "animate__fadeInUp",
      "animate__delay-0.5s"
    );
  });

  const bryllupskage = document.querySelector(".bryllupskage");

  inView(bryllupskage, () => {
    bryllupskage.classList.add(
      "animate__animated",
      "animate__fadeIn",
      "animate__delay-0.5s"
    );
  });

  const kransekage = document.querySelector(".kransekage");

  inView(kransekage, () => {
    kransekage.classList.add(
      "animate__animated",
      "animate__fadeIn",
      "animate__delay-0.5s"
    );
  });

  const specielkage = document.querySelector(".specielkage");

  inView(specielkage, () => {
    specielkage.classList.add(
      "animate__animated",
      "animate__fadeIn",
      "animate__delay-0.5s"
    );
  });

  const headline1 = document.querySelector(".headline1");

  inView(headline1, () => {
    headline1.classList.add(
      "animate__animated",
      "animate__fadeInUp",
      "animate__delay-0.5s"
    );
  });

  const headline2 = document.querySelector(".headline2");

  inView(headline2, () => {
    headline2.classList.add(
      "animate__animated",
      "animate__fadeInUp",
      "animate__delay-0.5s"
    );
  });

  const headline3 = document.querySelector(".headline3");

  inView(headline3, () => {
    headline3.classList.add(
      "animate__animated",
      "animate__fadeInUp",
      "animate__delay-0.5s"
    );
  });
  document.addEventListener("DOMContentLoaded", () => {
    const introAnimation = document.getElementById("intro-animation");
    const textElement = document.querySelector(".handwritten-text");

  
    const typingAnimationDuration =
      parseFloat(getComputedStyle(textElement).animationDuration) * 1000;


    setTimeout(() => {
      introAnimation.style.transition = "opacity 1s";
      introAnimation.style.opacity = "0";

      
      setTimeout(() => {
        introAnimation.style.display = "none";
      }, 1000); 
    }, typingAnimationDuration + 1000); 
  });
</script>
