---
import Card from "./Card.astro";
import { Image } from "astro:assets";
import årskage from "../assets/images/produktliste/årskage.webp";
import appelsinkage from "../assets/images/produktliste/appelsinkage.webp"
import blåbærgenskær from "../assets/images/produktliste/blåbærgenskær.webp"
import detgyldnetårn from "../assets/images/produktliste/det gyldne tårn.webp"
import efterårskage from "../assets/images/produktliste/efterårskage.webp"
import forårskage from "../assets/images/produktliste/forårskage.webp"
import georginekage from "../assets/images/produktliste/georginekage.webp"
import hcandersen from "../assets/images/produktliste/hc andersen.webp"
import hero from "../assets/images/produktliste/hero.webp"
import hchat from "../assets/images/produktliste/hv hat.webp"
import karenblixen from "../assets/images/produktliste/karen blixen.webp"
import luckyyou from "../assets/images/produktliste/lucky you.webp"
import nøddebo from "../assets/images/produktliste/nøddebo.webp"
import othellokage from "../assets/images/produktliste/othellokage.webp"
import pinapplepride from "../assets/images/produktliste/pinapplepride.webp"
import rubenstein from "../assets/images/produktliste/rubenstein.webp"
import sachertorte from "../assets/images/produktliste/sachertorte.webp"
import schwatzwalder from "../assets/images/produktliste/schwatzwalder.webp"
import sensommertærte from "../assets/images/produktliste/sensommertærte.webp"
import sportskage from "../assets/images/produktliste/sportskage.webp"
import valnøddekage from "../assets/images/produktliste/valnøddekage.webp"
import volmersorensen from "../assets/images/produktliste/volmer sørensen.webp"
import wernes from "../assets/images/produktliste/wernes.webp"
import æblekage from "../assets/images/produktliste/æblekage.webp"
---

<section class="relative">
  <Image
    src={hero}
    alt="Baggrundsbillede til produkter"
    class="md:w-full md:h-full"
  />

  <div
    class="md:absolute md:top-1/2 md:left-1/2 md:transform md:-translate-x-1/2 md:-translate-y-1/2 text-center"
  >
    <p
      class="text-mserifh1 md:text-serifh1 text-gron500 mb-m md:mb-2 underline decoration-solid decoration-2 underline-offset-off md:underline-offset-big decoration-gul500 font-serif"
    >
      Lagkager
    </p>
    <p
      class="text-mnormalh4 md:text-normalh3 text-neu500 font-normal mx-mxxl md:mx-0"
    >
      Alle lagkager består af minimum én mousse med diverse lækre ingredienser,
      oven på en luftig bund der fremhæver de forskellige smage. Øverst ligger
      der nøje udvalgt pynt, der løfter den enkelte kage til et højere niveau.
    </p>
  </div>
</section>
<div
  class="mt-mxl md:mt-xxl mx-mxxl md:mx-xxxl md:grid md:grid-cols-3 md:grid-rows-10 md:gap-xl items-center place-items-center"
>
  <Card
    imageSrc={othellokage}
    imageAlt="Billede af en othellokage"
    title="Othello Lagkage"
    description="Othellolagkagen består af flødecreme, makronbund, lagkagkagebunde, chokoladeglasur og marcipankant."
  />
  <Card
    imageSrc={sportskage}
    imageAlt="Billede af en sportskage"
    title="Sportskage"
    description="Sportskagen består af knust nougat, pisket flødeskum, en lækker makronbund og karamelliserede vandbakkelser."
  />
  <Card
    imageSrc={valnøddekage}
    imageAlt="Billede af en valnøddekage"
    title="Valnødde Lagkage"
    description="Valnøddelagkagen består af knuste valnødder i flødeskum, mandelbunde og mokkaglasur. Pyntet med valnødder."
  />
  <Card
    imageSrc={forårskage}
    imageAlt="Billede af en forårskage"
    title="Forårskage"
    description="Forårskagen består af en luftig hindbærfromage, smagsfuld chokoladetrøffel, hindbærpuré og ristet mandelbund."
  />

  <Card
    imageSrc={efterårskage}
    imageAlt="Billede af en efterårskage"
    title="Efterårskage"
    description="Efterårskagen består af chokoladetrøffel, chokoladebunde og er overtrukket med smørchokolade."
  />
  <Card
    imageSrc={volmersorensen}
    imageAlt="Billede af en volmersørensen kage"
    title="Volmer Sørensen"
    description="Volmerkagen består af blød nougat i flødeskum, makronbund, abrikosmarmelade, vanillecreme. Pyntet med marcipankant."
  />
  <Card
    imageSrc={georginekage}
    imageAlt="Billede af en georginekage"
    title="Georginekagen"
    description="Georginelagkagen består af flødecreme, makronbund, syltetøj og pyntet med en masse flødeskum."
  />
  <Card
    imageSrc={karenblixen}
    imageAlt="Billede af en Karen Blixen kage"
    title="Karen Blixen"
    description="Karen Blixen kagen består af kaffefromage, mokkatrøffel med ristede hasselnødder, chokoladebund."
  />

  <Card
    imageSrc={hchat}
    imageAlt="Billede af en HC hat"
    title="HC Hat"
    description="HC Hat kagen består af en karamelmousse med citronkaramelganache på chokolade bisquitbunde."
  />
  <Card
    imageSrc={æblekage}
    imageAlt="Billede af en æblekage"
    title="Æblekage"
    description="Æblekagen består af skrællede og kogte æbler, makronbund, vanillecreme. Pyntet med flødeskum og ristede nødder."
  />
  <Card
    imageSrc={appelsinkage}
    imageAlt="Billede af en appelsinkage"
    title="Appelsinkage"
    description="Appelsinkagen består af appelsinflødecreme, makronbund og appelsinglasur. Pyntet med orange chokolade og marcipankant."
  />
  <Card
    imageSrc={hcandersen}
    imageAlt="Billede af en H.C. Andersen kage"
    title="H.C. Andersen"
    description="H.C. Andersens kage består af en klassisk citronfromage og en moderne hindbærcreme lagt på en nøddebund."
  />

  <Card
    imageSrc={schwatzwalder}
    imageAlt="Billede af en schwatzwalder kage"
    title="Schwartzwalder"
    description="Kirsebærlikør i flødeskum, kirsebærsyltetøj, chokoladetrøffel, chokoladebunde. Pyntet med revet chokolade og røde bær."
  />
  <Card
    imageSrc={luckyyou}
    imageAlt="Billede af en lucky you kage"
    title="Lucky You"
    description="En bund af græskarmarengs, mascapone, græskarkerner samt en chokolademousse. Tilsat hindbær og chokoladeganache."
  />
  <Card
    imageSrc={sachertorte}
    imageAlt="Billede af en sachertorte kage"
    title="Sachertorte"
    description="Chokoladebunde lagt sammen med rom, frisk abrikos og marcipan. Kagen er overtrukket med chokolade."
  />
  <Card
    imageSrc={detgyldnetårn}
    imageAlt="Billede af en det gyldne tårn kage"
    title="Det Gyldne Tårn"
    description="Rabarberkompot, hvid chokolade, citroncreme på mandelbunde, citronmarengs og flamberet marcipankant."
  />

  <Card
    imageSrc={blåbærgenskær}
    imageAlt="Billede af en blåbærgenskær kage"
    title="Blåbær Genskær"
    description="Blåbærmousse, lakrids-chokolade trøffel, solbærgele, chokolademandelbund. Pyntet med blåbær og Fransk Makron."
  />
  <Card
    imageSrc={pinapplepride}
    imageAlt="Billede af en pinapple pride kage"
    title="Pineapple Pride"
    description="Kagen består af mascarpone med vaniljemousse og en kerne af ananas. Bunden er lavet af mandelmarengs med mandler."
  />
  <Card
    imageSrc={wernes}
    imageAlt="Billede af en wernes kage"
    title="Werners"
    description="Kagen er lavet med rabarber og vanille. Den er bagt på makronbund, med crumble og mandelflager."
  />
  <Card
    imageSrc={årskage}
    imageAlt="Billede af en 150 årskage"
    title="150 Års Kagen"
    description="Kagen består af en lys bund med citron, blå birkes og vanilje, solbærgelé, mandler og en citronmousse med hvid chokolade."
  />

  <Card
    imageSrc={sensommertærte}
    imageAlt="Billede af en sensommertærte"
    title="Sensommertærte"
    description="Sensommertærten består af æblekompot, en vaniljecreme, marcipan og saftig mørdej. Pyntet med æblestykker."
  />
  <Card
    imageSrc={nøddebo}
    imageAlt="Billede af en nøddebo kage"
    title="Nøddebo"
    description="Kagen består af hasselnødder og valnødder der er bagt i brun farin og smør for at give kagen en dybde og ristet smag."
  />
  <Card
    imageSrc={rubenstein}
    imageAlt="Billede af en rubenstein kage"
    title="Rubinstein"
    description="Kagen består af romfromage, makronbund, ribsgele. Pyntet med vandbakkelser dyppet i chokolade og flødeskum."
  />
</div>
