---
import { Image } from "astro:assets";
import Button from "./Button.astro";
import Kaffe from "../assets/illustrationer/Kaffe.svg";
import Kage2 from "../assets/illustrationer/kage2.svg";
import bryllupskager from "../assets/images/sortiment/bryllupskager.webp";
import desmåfornøjelser from "../assets/images/sortiment/desmåfornøjelser.webp";
import festkager from "../assets/images/sortiment/festkager.webp";
import isanretninger from "../assets/images/sortiment/isanretninger.webp";
import kransekager from "../assets/images/sortiment/kransekager.webp";
import lagkager from "../assets/images/sortiment/lagkager.webp";
import visitkager from "../assets/images/sortiment/visitkager.webp";
import konditorkager from "../assets/images/sortiment/konditorkager.webp";
import "../styles/global.css";
---

<section
  class="bg-beige w-full md:h-[604px] h-[400px] flex items-center justify-center"
>
  <div
    class="grid grid-cols-1 md:grid-cols-3 gap-4 items-center w-full max-w-screen-xl px-4"
  >
    <div class="flex justify-center">
      <Image
        src={Kage2}
        alt="Illustration af et kagestykke med kirsebær på toppen"
        class="w-24 md:w-80 my-2 md:h-40 animate__animated animate__slideInDown md:inline hidden"
      />
    </div>
    <div class="text-center">
      <h1
        class="md:text-serifh1 text-gron500 mb-4 md:mb-8 underline decoration-solid decoration-2 underline-offset-4 text-mserifh1 md:underline-offset-8 decoration-gul500 font-serif"
      >
        Sortiment
      </h1>
      <p
        class="text-mnormalh4 md:text-normalh4 text-neu500 font-normal mx-auto max-w-3xl"
      >
        Vores sortiment spænder bredt, og vi er stolte af, at kunne levere kager
        til diverse begivenheder og højtider.
      </p>
    </div>
    <div class="flex justify-center">
      <Image
        src={Kaffe}
        alt="Illustration af en kop kaffe"
        class="md:inline hidden w-24 md:w-80 md:h-40 my-2 animate__animated animate__slideInDown"
      />
    </div>
  </div>
</section>

<section class="bg-white w-full py-16">
  <div class="max-w-screen-xl mx-auto px-4 flex flex-col md:flex-row">
    <div
      class="md:w-1/2 flex justify-center items-center mb-6 md:mb-0 md:order-1"
    >
      <Image
        src={lagkager}
        alt="Billede af en lagkage"
        class="h-80 w-80 object-cover"
      />
    </div>
    <div
      class="md:w-1/2 md:pl-8 md:order-2 text-center md:text-left md:mr-xxl mr-0"
    >
      <h2
        class="md:text-serifh2 text-mserifh2 text-gron500 mb-4 md:mb-8 underline decoration-solid decoration-2 underline-offset-4 md:underline-offset-8 decoration-gul500 font-serif"
      >
        Lagkager
      </h2>
      <p class="text-pbody text-neu500 mb-6 text-center md:text-left">
        Alle lagkager består af minimum én mousse med diverse lækre
        ingredienser, oven på en luftig bund der fremhæver de forskellige smage.
      </p>
      <p class="text-pbody text-neu500 mb-6 md:mb-l text-center md:text-left">
        Øverst ligger der nøje udvalgt pynt, der løfter den enkelte kage til et
        højere niveau.
      </p>
      <a href="/liste/"
        ><Button variant="secondary">Se vores lagkager her</Button></a
      >
    </div>
  </div>
</section>

<section class="bg-beige w-full py-16">
  <div
    class="max-w-screen-xl mx-auto px-4 flex flex-col md:flex-row items-center justify-center"
  >
    <div
      class="md:w-1/2 flex justify-center items-center mb-6 md:mb-0 md:order-2"
    >
      <Image
        src={konditorkager}
        alt="Billede af små konditorkager"
        class="h-80 w-80 object-cover"
      />
    </div>
    <div
      class="md:w-1/2 md:pr-8 md:pl-8 md:order-1 text-center md:text-left md:ml-xxl ml-0"
    >
      <h2
        class="md:text-serifh2 text-mserifh2 text-gron500 mb-4 md:mb-8 underline decoration-solid decoration-2 underline-offset-4 md:underline-offset-8 decoration-gul500 font-serif"
      >
        Konditorkager
      </h2>
      <p class="text-pbody text-neu500 mb-6 text-center md:text-left">
        Vores konditorkager er lavet med præcision og en sans for detaljen.
      </p>
      <p class="text-pbody text-neu500 mb-6 md:mb-l text-center md:text-left">
        Om du leder efter en tørkage, eller en kage der er fyldt med lækker og
        nøje udvalgt mousse, så har vi et stort udvalg der spænder bredt.
      </p>
      <a href="/liste/"
        ><Button variant="secondary">Se vores konditerkager her</Button></a
      >
    </div>
  </div>
</section>

<section class="bg-white w-full py-16">
  <div
    class="max-w-screen-xl mx-auto px-4 flex flex-col md:flex-row items-center justify-center"
  >
    <div
      class="md:w-1/2 flex justify-center items-center mb-6 md:mb-0 md:order-1"
    >
      <Image
        src={visitkager}
        alt="BIllede af flere visitkager"
        class="h-80 w-80 object-cover"
      />
    </div>
    <div
      class="md:w-1/2 md:pl-8 md:order-2 text-center md:text-left md:mr-xxl mr-0"
    >
      <h2
        class="md:text-serifh2 text-mserifh2 text-gron500 mb-4 md:mb-8 underline decoration-solid decoration-2 underline-offset-4 md:underline-offset-8 decoration-gul500 font-serif"
      >
        Visitkager
      </h2>
      <p class="text-pbody text-neu500 mb-6 text-center md:text-left">
        Ikke bare en ny kage, men mere et nyt begreb. Med Visitkagens indtog så
        har konditorstaben en daglig lille legeplads, hvor kreativiteten lever
        og udfoldes i rigelige mængder.
      </p>
      <p class="text-pbody text-neu500 mb-6 md:mb-l text-center md:text-left">
        Det helt særlige ved en Visitkage er derfor, man ved aldrig hvad man
        får, men man ved, at det altid er fremragende
      </p>
      <a href="/liste/"
        ><Button variant="secondary">Se vores visitkager her</Button></a
      >
    </div>
  </div>
</section>

<section class="bg-beige w-full py-16">
  <div
    class="max-w-screen-xl mx-auto px-4 flex flex-col md:flex-row items-center justify-center"
  >
    <div
      class="md:w-1/2 flex justify-center items-center mb-6 md:mb-0 md:order-2"
    >
      <Image
        src={bryllupskager}
        alt="Billede af en bryllupskage"
        class="h-80 w-80 object-cover"
      />
    </div>
    <div
      class="md:w-1/2 md:pr-8 md:pl-8 md:order-1 text-center md:text-left md:ml-xxl ml-0"
    >
      <h2
        class="md:text-serifh2 text-mserifh2 text-gron500 mb-4 md:mb-8 underline decoration-solid decoration-2 underline-offset-4 md:underline-offset-8 decoration-gul500 font-serif"
      >
        Bryllupskager
      </h2>
      <p class="text-pbody text-neu500 mb-6 text-center md:text-left">
        Hvert år har La Glace æren af at glæde mange brudepar og deres gæster
        med en personlig og individuel bryllupskage.
      </p>
      <p class="text-pbody text-neu500 mb-6 md:mb-l text-center md:text-left">
        I samarbejde med vores kompetente kagedamer finder vi ud af netop det
        indhold og udseende, der skal gøre Deres kage perfekt.
      </p>
      <a href="/liste/"
        ><Button variant="secondary">Se vores bryllupskager her</Button></a
      >
    </div>
  </div>
</section>

<section class="bg-white w-full py-16">
  <div
    class="max-w-screen-xl mx-auto px-4 flex flex-col md:flex-row items-center justify-center"
  >
    <div
      class="md:w-1/2 flex justify-center items-center mb-6 md:mb-0 md:order-1"
    >
      <Image
        src={festkager}
        alt="Billede af en festkage"
        class="h-80 w-80 object-cover"
      />
    </div>
    <div
      class="md:w-1/2 md:pl-8 md:order-2 text-center md:text-left md:mr-xxl mr-0"
    >
      <div class="øvelse">
        <h2
          class="md:text-serifh2 text-mserifh2 text-gron500 mb-4 md:mb-8 underline decoration-solid decoration-2 underline-offset-4 md:underline-offset-8 decoration-gul500 font-serif"
        >
          Festkager
        </h2>
      </div>
      <p class="text-pbody text-neu500 mb-6 text-center md:text-left">
        La Glace laver kager, der fornøjer både øje og gane. Og dét til alle
        aldre.
      </p>
      <p class="text-pbody text-neu500 mb-6 md:mb-l text-center md:text-left">
        Uanset om kagerne er til børn eller voksne, afstemmes de efter alder
        mht. pynt og smag. Vi har mange års erfaring i, hvilke kager, der egner
        sig til hvilken størrelse.
      </p>
      <a href="/liste/"
        ><Button variant="secondary">Se vores festkager her</Button></a
      >
    </div>
  </div>
</section>

<section class="bg-beige w-full py-16">
  <div
    class="max-w-screen-xl mx-auto px-4 flex flex-col md:flex-row items-center justify-center"
  >
    <div
      class="md:w-1/2 flex justify-center items-center mb-6 md:mb-0 md:order-2"
    >
      <Image
        src={kransekager}
        alt="Billede af et kransekagetårn"
        class="h-80 w-80 object-cover"
      />
    </div>
    <div
      class="md:w-1/2 md:pr-8 md:pl-8 md:order-1 text-center md:text-left md:ml-xxl ml-0"
    >
      <h2
        class="md:text-serifh2 text-mserifh2 text-gron500 mb-4 md:mb-8 underline decoration-solid decoration-2 underline-offset-4 md:underline-offset-8 decoration-gul500 font-serif"
      >
        Kransekager
      </h2>
      <p class="text-pbody text-neu500 mb-6 text-center md:text-left">
        La Glace fremstiller kransekage af meget høj kvalitet som består
        udelukkende af marcipan lavet af de bedste mandler.
      </p>
      <p class="text-pbody text-neu500 mb-6 md:mb-l text-center md:text-left">
        ransekage er i øvrigt en typisk dansk specialitet, der sjældent ses
        udenfor landets grænser
      </p>
      <a href="/liste/"
        ><Button variant="secondary">Se vores kransekager her</Button></a
      >
    </div>
  </div>
</section>

<section class="bg-white w-full py-16">
  <div
    class="max-w-screen-xl mx-auto px-4 flex flex-col md:flex-row items-center justify-center text-center md:text-center"
  >
    <div class="md:w-1/2 flex justify-center mb-6 md:mb-0 md:order-1">
      <Image
        src={desmåfornøjelser}
        alt="Billede af forskellige små fornøjelser"
        class="h-80 w-80 object-cover mx-auto md:mx-0"
      />
    </div>
    <div
      class="md:w-1/2 md:pl-8 md:order-2 text-center md:text-left md:mr-xxl mr-0"
    >
      <h2
        class="md:text-serifh2 text-mserifh2 text-gron500 mb-4 md:mb-8 underline decoration-solid decoration-2 underline-offset-4 md:underline-offset-8 decoration-gul500 font-serif"
      >
        De små fornøjelser
      </h2>
      <p class="text-pbody text-neu500 mb-6 text-center md:text-left">
        La Glace har naturligvis også lækker hjemmelavet konfekt at byde på.
      </p>
      <p class="text-pbody text-neu500 mb-6 md:mb-l text-center md:text-left">
        Alt fra den nyeste specialitet Franske Makroner til klassiske smørbagte
        småkager, fyldte chokolader og kransekagekonfekt.
      </p>
      <a href="/liste/"
        ><Button variant="secondary">Se vores små fornøjelser her</Button></a
      >
    </div>
  </div>
</section>

<section class="bg-beige w-full py-16">
  <div
    class="max-w-screen-xl mx-auto px-4 flex flex-col md:flex-row items-center justify-center text-center md:text-center"
  >
    <div class="md:w-1/2 flex justify-center mb-6 md:mb-0 md:order-2">
      <Image
        src={isanretninger}
        alt="Billede af en isanretning"
        class="h-80 w-80 object-cover mx-auto md:mx-0"
      />
    </div>
    <div
      class="md:w-1/2 md:pr-8 md:pl-8 md:order-1 text-center md:text-left md:ml-xxl ml-0"
    >
      <h2
        class="md:text-serifh2 text-mserifh2 text-gron500 mb-4 md:mb-8 underline decoration-solid decoration-2 underline-offset-4 md:underline-offset-8 decoration-gul500 font-serif"
      >
        Isanretninger
      </h2>
      <p class="text-pbody text-neu500 mb-6 text-center md:text-left">
        La Glace har naturligvis også lækker hjemmelavet konfekt at byde på.
      </p>
      <p class="text-pbody text-neu500 mb-6 md:mb-l text-center md:text-left">
        Alt fra den nyeste specialitet Franske Makroner til klassiske smørbagte
        småkager, fyldte chokolader og kransekagekonfekt.
      </p>
      <a href="/liste/"
        ><Button variant="secondary">Se vores isanretninger her</Button></a
      >
    </div>
  </div>
</section>

<script>
  import { inView } from "motion";

  const billedefadein1 = document.querySelector(".billedefadein1");

  inView(billedefadein1, () => {
    billedefadein1.classList.add(
      "animate__animated",
      "animate__fadeInLeft",
      "animate__delay-0.5s"
    );
  });

  const billedefadein2 = document.querySelector(".billedefadein2");

  inView(billedefadein2, () => {
    billedefadein2.classList.add(
      "animate__animated",
      "animate__fadeInUp",
      "animate__delay-0.5s"
    );
  });

  const billedefadein3 = document.querySelector(".billedefadein3");

  inView(billedefadein3, () => {
    billedefadein3.classList.add(
      "animate__animated",
      "animate__fadeInRight",
      "animate__delay-0.5s"
    );
  });

  const bogbillede = document.querySelector(".bogbillede");

  inView(bogbillede, () => {
    bogbillede.classList.add(
      "animate__animated",
      "animate__headShake",
      "animate__infinite"
    );
  });
</script>
